# ===== Core =====
joblib==1.5.2
numpy==2.4.0
pandas==2.3.3
scipy==1.16.3

# ===== Image & Visualization =====
opencv-contrib-python==4.10.0.84
opencv-python-headless==4.11.0.86
Pillow==11.1.0
scikit-image==0.25.2
plotly==6.1.0

# ===== Streamlit =====
streamlit==1.44.1
gdown==5.2.0
requests

# ===== Deep Learning =====
torch==2.5.1
torchvision==0.20.1
timm==1.0.22

# ===== Classical ML =====
scikit-learn==1.5.2
xgboost==2.1.3